/* General */
* {
    margin: 0;
}
body {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    line-height: 140%;
    text-rendering: optimizeLegibility;
}
h1 {
    text-align: center;
}
h3{
    font-family: 'Roboto', sans-serif;
    font-size:16px;
}
h4{
    font-family: 'Roboto', sans-serif;
    font-size:20px;
}
:root {
    --theme-dvrpc: #0078ae;
    --theme-dvrpc2: #8AC440;
    --theme-dark: #505a5e;
    --theme-light: #7e8c92;

    --wrapper-padding: 10px;
    --wrapper-padding-double: 20px;

    --border-radius: 4px;
    --box-shadow: 1px 2px 3px rgba(0,0,0,0.3);
}

.flex-row {
    display: flex;
    align-items: center;
}
.flex-column {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}
.flex-between {
    justify-content: space-between;
}
.flex-around {
    justify-content: space-around;
}
.flex-end {
    justify-content: flex-end;
}
/* END General */



/* Modal */
#modal-content{
    box-shadow: var(--box-shadow);
}
#modal-toggle, #close-modal{
    cursor: pointer;
    font-size: inherit;
}
#modal{
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 3;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgba(0, 0, 0, 0.3);
}
#modal-content{
    position: relative;
    background: #fff;
    width: 50%;
    padding: var(--wrapper-padding-double);
    border-radius: var(--border-radius);
    filter: brightness(150%);
}
#close-modal{
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 1.5em;
}
.modal-content-subheader {
    text-align: center;
    margin-bottom: 1rem;
}
#Legend-Modal{
    max-width: 650px !important;
}

/* Navbar */
nav {
    position: relative;
    height: 6vh;
    padding: 0 var(--wrapper-padding);
    background-color: var(--theme-dvrpc2);
    color: #f7f7f7;
    box-shadow: var(--box-shadow);
    z-index: 1;
}
.nav-links {
    color: #f7f7f7;
}
.nav-btn {
    background: transparent;
    border: none;
    text-decoration: underline;
    padding: 0;
}
.nav-vr {
    margin: 0 5px;
}
#dvrpc-logo {
    display: block;
    width: 75px;
}
.vertical {
    border-left: 2px solid white;
    height: 20px;
    margin: 5px;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 5px 10px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#about{
    max-width: 670px !important;
}
.about-btn {
    margin: 5px 10px 0px 10px;
    color: var(--theme-dvrpc2);
    background-color: #fff;
}
.blocker {
    background-color: rgba(0,0,0,0.2) !important;
}
.dvrpc_full_logo {
    margin: 10px 15px 6px 5px;
    float: left;
}
/* END Navbar */

/* Main Webmap Area */
#regional-extent-img {
    display: block;
    margin: 0 auto;
    height: 20px;
    width: 20px;
}
/* END Main Webmap Area */

/* Map */
#map {
    width: 100%;
    height: 94vh;
}
/* END Map */
#sidebar {
    width: 35%;
    height: 94vh;
    overflow-y: auto;
    overflow-x: hidden;
    /* background-color: #f7f7f7; */
    background-color: #ddeec7;
}
#sidebar-content {
    padding: var(--wrapper-padding-double) var(--wrapper-padding);
    min-height: calc(90% - 40px);
}
#toggleWrapper {
    margin: 5px 10px 5px 10px;
    border-radius: 4px;
    border-color: #dadada;
    background-color: #fff; 
    overflow: hidden;
    box-shadow: 1px 2px 3px rgba(0,0,0,.3);
    display: grid;
    justify-content: space-between;
    /* flex-direction: row; */
}
.sidebar-form {
    margin: var(--wrapper-padding) auto;
    width: 40vh;
}
.sidebar-fieldset {
    background: white;
    border-radius: var(--border-radius);
    border-color: #dadada;
    border: 2px solid #dadada;
    margin: 5px 0px 5px 10px;
}
.sidebar-fieldset label {
    margin-right: 5px;
}
input[type="checkbox"]:focus {
    outline: 0;
}
input[type="checkbox"] {
    appearance: none;
    background-color: var(--theme-light);
    border: 1px solid #d3d3d3;
    border-radius: 26px;
    cursor: pointer;
    height: 18px;
    position: relative;
    transition: border 0.25s 0.15s, box-shadow 0.25s 0.3s, padding 0.25s;
    width: 36px;
    vertical-align: top;
    -webkit-appearance: none;
}
input[type="checkbox"]:after {
    background-color: white;
    border: 1px solid #d3d3d3;
    border-radius: 16px;
    box-shadow: inset 0 -3px 3px rgba(0, 0, 0, 0.025),
      0 1px 4px rgba(0, 0, 0, 0.15), 0 4px 4px rgba(0, 0, 0, 0.1);
    content: "";
    display: block;
    height: 14px;
    left: 0;
    position: absolute;
    right: 16px;
    top: 0;
    transition: border 0.25s 0.15s, left 0.25s 0.1s, right 0.15s 0.175s;
}
input[type="checkbox"]:checked {
    border-color: var(--theme-dvrpc2);
    box-shadow: inset 0 0 0 13px var(--theme-dvrpc2);
    padding-left: 18px;
    transition: border 0.25s, box-shadow 0.25s, padding 0.25s 0.15s;
}
input[type="checkbox"]:checked:after {
    border-color: var(--theme-dvrpc2);
    left: 16px;
    right: 0;
    transition: border 0.25s, left 0.15s 0.25s, right 0.25s 0.175s;
}
#toggleWrapper ul {
    list-style-type: none;
}
.legend-circuit {
    color:#4fe314;
    margin-right: 5px;
}
.legend-csg{
   color: #0078AE;
   margin-right: 5px;
}
.legend-d{
    color:  #fa751f;
    margin-right: 5px;
 }
 .legend-g{
    color:  #349000;
    margin-right: 5px;
 }
 .legend-p{
    color:  #D882C8;
    margin-right: 5px;
 }
 .legend-sd{
    color:   #67ABD1;
    margin-right: 5px;
 }
 .legend-s{
    color:   #D8BC96;
    margin-right: 5px;
 }
 .legend-v{
    color:   #ffdb00;
    margin-right: 5px;
 }
 .legend-u{
    color:    #EF4343;
    margin-right: 5px;
 }
 /* Footer */
footer {
    padding: var(--wrapper-padding);
    width: 100%;
    min-height: calc(10% - 20px);
    background-color: var(--theme-dark);
    color: #f7f7f7;
}
/* END Footer */
 /*Popups*/
.mapboxgl-popup-content {
    color: #000000;
    background-color: rgba(138, 196, 64, 0.88);
    border-color: #6D7E79;
    max-width: 250px;
    box-shadow: 3px 3px 2px #6D7E79;
    font-family: 'Roboto', sans-serif;
    padding: var(--wrapper-padding-double) var(--wrapper-padding);
}
.mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
    border-bottom-color:rgba(138, 196, 64, 0.88);
    }
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
    border-top-color:rgba(138, 196, 64, 0.88);
    }
.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
    border-right-color:rgba(138, 196, 64, 0.88);
    }
.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
    border-left-color:rgba(138, 196, 64, 0.88);
    }
    .mapboxgl-ctrl-logo {
        display: none !important;
        }